html {
 background-color: antiquewhite; 
}

body {
  background-color: #fefefe;
}

#content{
  background-color: #fefefe;
  align-content: center;
  height: 400px;
  width: 350px;
  margin: 5px 10px;
}

#changeColor {
  background-color: #6D76E7;
  color: white;
}

#snipit-list {
  background-color: #fefefe;
  padding: 0;
  list-style: none;
}